// @media (max-width: 1200px) {

// }
// ** ///////////////////////////////////////////////////////////

// @media (max-width: 992px) {

// }
// @media (max-width: 767px) {

// }

// ** ///////////////////////////////////////////////////////////

// @media (max-width: 575px) {

// }

// ** ///////////////////////////////////////////////////////////

// @media (max-width: 500px) {

// }

// ** ///////////////////////////////////////////////////////////

@media (max-width: 320px) {
    .footer {
        &__info {
            width: 295px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
        }
        &__social {
            span {
                margin: 12px;
            }
        }
    }
}
