// @media (max-width: 1200px) {

// }
// ** ///////////////////////////////////////////////////////////

// @media (max-width: 992px) {

// }
@media (max-width: 767px) {
    .wrapper {
        &__info:nth-child(3) {
            margin: 0 auto;
        }
    }
}

// ** ///////////////////////////////////////////////////////////

@media (max-width: 575px) {
    .wrapper {
        &__info:nth-child(3) {
            margin: 0 auto;
        }
    }
}

// ** ///////////////////////////////////////////////////////////

@media (max-width: 500px) {
    .info {
        &__block {
            flex-direction: column;
            min-width: 300px;
        }
    }
    .title {
        font-size: 25px;
    }
    .wrapper {
        &__block {
            flex-direction: column;
            min-width: 300px;
        }
        &__info:nth-child(2) {
            img {
                margin-top: 20px;
            }
        }
        &__info:nth-child(3) {
            img {
                margin-top: 20px;
            }
        }
    }
}

// ** ///////////////////////////////////////////////////////////

@media (max-width: 320px) {
    .wrapper {
        &__block {
            flex-direction: column;
        }
        &__info:nth-child(2) {
            img {
                margin-top: 20px;
            }
        }
        &__info:nth-child(3) {
            img {
                margin-top: 20px;
            }
        }
    }
}
